<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>11_lecture_Selectors.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F977E49B1E6BF9D6003414F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F977E4B41E6BF9D6003414F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F977E4BF1E6BF9D6003414F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
